.aboutMe {
  display: inline-block;
  width: 100%;
}
.aboutMeSpan {
  width: 50%;
  float: left;
  padding: 0 2rem;
  position: relative;
}
.aboutMeRight {
  padding: 4rem 2rem;
}
.aboutMeRight h3 {
  color: #f75023;
}
.aboutMeRight p {
  margin-bottom: 3rem;
}
.aboutMeLeft .img01 {
  position: relative;
  height: 30rem;
  width: 30rem;
  margin-top: 40px;
  margin-left: 30px;
}
.aboutMeLeft .img02 {
  height: 200px;
  width: 120px;
  position: absolute;
  top: -70px;
  left: 0;
}
.aboutMeRight .img03 {
  height: 200px;
  width: 300px;
  position: absolute;
  right: -50px;
  bottom: -90px;
}
.miniBox {
  text-align: left;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #ffffff;
  position: absolute;
  transition: .5s ease;
  
}
.miniBox:hover {
    box-shadow: -.5rem -.5rem .5rem rgb(49, 48, 48);
    margin: .5rem .5rem;
}
.miniBox h2 {
  position: absolute;
  font-weight: 600;
  font-size: 50px;
}
.miniBox h5 {
  margin-left: 70px;
  font-weight: 500;
  padding-top: 10px;
}
.success {
  left: 0;
  top: 150px;
}
.projects {
  top: 360px;
  left: 25rem;
}
