.account {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: -15px;
  font-size: 12px;
  width: 200px;
}
.account > span:last-child {
  cursor: pointer;
}
.accName {
  color: #f75023;
}
.accIcon {
  font-size: 16px;
  color: #111;
}
.logOutIcon {
  font-size: 15px;
  color: #777a8b;
}
.logOutIcon:hover {
  font-size: 15px;
  color: #111;
}
.acc {
  color: #111;
}
.acc:hover {
  color: #f75023 !important;
}
