/*-- Basic section --*/
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box !important;
}

body {
  background-color: #f7fbfd;
  width: 100%;
  transition: transform 0.5s ease;
  margin: -2rem 0 0 0;
  line-height: 1.80857;
  font-weight: normal;
  font-size: 14px;
  color: #070707;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none !important;
  color: #0f0f0f;
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  margin: 0;
  padding: 0px 0px 10px 0px;
}
p {
  font-size: 18px;
  color: #777a8b;
  font-style: normal;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  
}
h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #111111;
  text-decoration: none !important;
  opacity: 1;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/*--End Basic section --*/
.scrolled {
  background-color: #ffffff5e;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 5px rgba(8, 3, 3, 0.11);
}
.layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 1rem; */
}

@media only screen and (max-width: 1023px) {
  .column {
    grid-template-columns: 1fr;
  }
}
.info {
  margin-top: 1rem;
  text-align: center;
}

.error {
  background-color: var(--dangerRed);
  padding: 0.6rem 1.2rem;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
li.active {
  color: #f75023;
}
.icon {
  color: rgb(3, 107, 55);
  text-align: center;
  width: 100%;
  font-size: 25px;
}