.bodyContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  border: 1px solid red;
}
.bodyAll {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(4, 0, 255);
}
.cover {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.blogDate {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 2px 5px black;
  color: #ffffff;
}
.coverImg {
  height: auto;
  width: 100%;
  position: absolute;
  transition: 0.5s linear;
}
.coverImg:hover {
  transform: scale(1.1);
}
.bodyAll h5 {
  padding-top: 20px;
  color: #f75023;
}
.bodyAll h4 {
  color: #252323;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .bodyAll {
    width: 33.333%;
    padding: 1rem;
  }
}
