.comment {
    width: 600px;
    display: grid;
    justify-content: center;
    height: 300px;
    position: relative;
    margin: 0 20px;
    border: 1px solid rgb(0, 225, 255);
}
.icon {
    text-align: center;
    width: 100%;
    font-size: 70px;
    color: #f75023;
}
.comment p {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding: 0 30px;
}
.auther {
    height: 75px;
    display: grid;
    justify-content: center;
}

@media (min-width: 1024px) {
    .comment {
        width: 700px;
        margin: 0 10px;
    }
    .comment p {
        padding: 0 30px;
    }
}