.container {
    position: relative;
    height: 75px;
    width: 250px;
}
.container img {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.container h5 {
    position: absolute;
    left: 90px;
    top: 35%;
    transform: translate(0, -50%);
    color: rgb(34, 32, 32);
}
.container h6 {
    position: absolute;
    left: 90px;
    top: 65%;
    transform: translate(0, -50%);
    color: rgb(87, 86, 86);
}
