/* .footerContainer {
  display: grid;
  width: 100%;
  background-color: #e7eafd;
} */
.footerContainer {
  width: 100%;
  background-color: #e7eafd;
  padding: 2rem 0;
}
/* .footerLeft {
  display: grid;
  place-content: center;
  width: 100%;
} */
.text {
  width: 100%;
}
.text p {
  text-align: center;
}
.text a {
  color: #f75023;
}
.text p span:hover {
  color: #111111;
  cursor: pointer;
}

/* @media (min-width: 768px) {
  .footerLeft {
    width: 50%;
    padding: 2rem 0;
  }
  .footerLeft p {
    font-size: 1rem;
  }
  .footerRight {
    width: 50%;
    padding: 0;
  }
  .footerRight ul {
    display: flex;
    padding: 2rem 0;
    margin: 0;
    width: 18rem;
  }
  .footerRight p {
    font-size: 1rem;
  }
} */
