.mapContainer {
  width: 100%;
  padding: 100px 20px;
  margin-left: -0.5rem;
  border: 1px solid red;
}
.map {
  height: 400px;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .mapContainer {
    padding: 100px 200px;
  }
}
