.box {
    margin: 10rem 1rem 10rem 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #8456f0;
    border-radius: 10px;
    position: relative;
}
.text {
    float: left;
    flex: 60%;
    padding: 80px;
  }
  .text h2 {
      color: #ffffff;
      font-weight: 700;
  }
  .text h4 {
      color: #ffffff;
  }
  .text p {
      color: #ffffff;
      font-weight: 500;
  }

.form {
    float: right;
    flex: 40%;
    background-color: transparent;
    padding: 50px 80px 0 80px;
}
 @media (min-width: 1024px) {
    .box {
        margin: 10rem 5rem 10rem 4.5rem;
    }
 }