.percentageC {
  position: relative;
  width: 90%;
  margin-top: 0;
  height: 70px;
}
.percentageC h6 {
  position: absolute;
  top: 0;
  left: 0;
}
.tooltip {
  position: absolute;
  top: 0;
  /* color: #f75023; */
  transition: 0.5s ease-in-out;
}
.bar {
  margin-top: 35px;
  width: 100%;
  height: 8px;
  background-color: #dad7d7;
  position: absolute;
  border-radius: 10px;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #f75023;
  transition: width 0.5s ease-in-out;
}
