.portfolio {
  width: 35rem;
  padding-bottom: 2rem;
}
.body {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgb(206, 205, 205);
}
.body img {
  width: 600px;
  height: 250px;
  object-fit: fill;
  transition: 1s linear;
  cursor: pointer;
  opacity: 0.9;
}
.body img:hover {
  margin-left: -40px;
  opacity: 1;
}
