.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  position: relative;
  margin-left: -0.5rem;
}
.header p {
  padding: 0 0.5rem;
}
.bgImg1 {
  width: 300px;
  transform: scaleX(-1) rotate(40deg);
  position: absolute;
  left: -110px;
  top: 50px;
  opacity: .3;
  display: none;
}
.bgImg2 {
  width: 300px;
  /* transform: scaleX(-1) rotate(40deg); */
  position: absolute;
  right: -65px;
  bottom: -150px;
  opacity: .3;
  display: none;
}
.side {
  flex: 20%;
  position: relative;
  display: none;
}
.testimonials {
  position: relative;
  overflow: hidden;
  height: 380px;
  width: 700px;
  flex: 100%;
  display: flex;
  justify-content: center;
}


@media (min-width: 1024px) {
  .container {
    padding: 2rem 5rem;
  }
  .header p {
    padding: 0 12rem;
  }
  .bgImg1 {
    display: block;
  }
  .bgImg2 {
    display: block;
  }
  .side {
    display: block;
  }
  .testimonials {
    flex: 60%;
  }
}

@media (min-width: 1280px) {
  .header p {
    padding: 0 20rem;
  }
}