.totopButton {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 20px;
    right: 0;
    z-index: 99;
    border: none;
    outline: none;
    background-color:transparent;
    cursor: pointer;
  }
.totopButton::before {
    background-color: transparent;
  }
.totopButton:hover {
    background-color: transparent;
}
.totopButton:hover::before {
    background-color: transparent;
}
.totopButton p {
    writing-mode: vertical-lr;
    color: #f75023;
    font-size: 12px;
    font-weight: normal;
    
}
.topButton .icon {
  color: #f75023;
  margin-left: 2px;
  margin-bottom: 5px;
}