.button {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: #25d366;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.466);
  z-index: 1000;
  border: 2px solid wheat;
  transition: bottom 0.3s ease, border 0.3s ease;
}
.button:hover {
  border: 2px solid rgb(97, 56, 56);
  bottom: 2.5rem;
}
